
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Promotor</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contacto</h4>
                <hr />
                <div class="panel-body pb-0">
                    <div class="form-horizontal group-border stripped">
                        <div class="form-group">
                            <label>Nombre</label>
                            <div class="col-lg-7 col-md-6">
                                <input type="text" class="form-control modalColor" id="txtNombre" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Correo o teléfono</label>
                            <div class="col-lg-7 col-md-6">
                                <input type="text" class="form-control modalColor" id="txtCorreo" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Categoria</label>
                            <div class="col-lg-10 col-md-9">
                                <select id="cboRoles" class="form-control">
                                    @{
                                        foreach (SelectListItem rol in ((List<SelectListItem>)ViewBag.Roles))
                                        {
                                            if (rol.Selected)
                                            {
                                                <option selected id="@rol.Value" value="@rol.Value">@rol.Text</option>
                                            }
                                            else
                                            {
                                                <option id="@rol.Value" value="@rol.Value">@rol.Text</option>
                                            }

                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Pertenece a</label>
                            <select id="cboJefes" class="form-control">
                                @{
                                    foreach (SelectListItem persona in ((List<SelectListItem>)ViewBag.Personas))
                                    {
                                        if (persona.Selected)
                                        {
                                            <option selected id="@persona.Value" value="@persona.Value">@persona.Text</option>
                                        }
                                        else
                                        {
                                            <option id="@persona.Value" value="@persona.Value">@persona.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-success" onclick="guardarContacto()">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function guardarContacto() {
        var _nombre = $("#txtNombre").val();
        var _correo = $("#txtCorreo").val();
        var _idJefe = $("#cboJefes").val();
        var _rol = $("#cboRoles").val();

        if (_nombre == "") {
            alert("Por favor ingrese el nombre del contacto");
        }
        else if (_nombre.length < 10) {
            alert("Por favor ingresa el nombre completo del promotor. Al menos 10 caracteres");
        }
        else if (_correo.length < 9) {
            alert("El correo o telefóno debe de contener al menos 10 caracteres");
        }
        else if (_correo == "") {
            alert("Por favor ingrese el correo del contacto");
        }
        else if (_idJefe == 0) {
            alert("Por favor indica a quien reporta directamente");
        } else if (_rol == 0) {
            alert("Por favor indica el rol que tiene la persona");
        }
        else {
            var urlSave = '@Url.Action("GuardarPromotor", "Promotores")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ nombre: _nombre, correo: _correo, idJefe : _idJefe, idRol: _rol }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Promotor agregado correctamente");
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });
        }
    }
</script>

