@model WebView.Models.DO_Persona

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Datos del promotor</h4>
                <hr />
                <div class="panel-body pb-0">
                    <div class="form-horizontal group-border stripped">
                        <input type="hidden" value="@Model.idUsuario" id="txtIdUsuario" />
                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Nombre</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtNombre" class="form-control" placeholder="Nombre" value="@Model.Nombre" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Descripción</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtUsuario" class="form-control" placeholder="Descripción" value="@Model.Usuario" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-light px-5 float-left" onclick="GuardarDatosPromotor()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                Ventas del promotor: @Model.Nombre
            </div>
            <div class="card-body">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>Venta semanal</li>

                </ul>
                <div class="chart-container-1">
                    <canvas id="chart1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var _idPromotor = @Model.idUsuario;
        var urlSave = '@Url.Action("GetVentaSemanalDiariaPromotor", "Promotores")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ idPromotor: _idPromotor }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var ctx = document.getElementById('chart1').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            position: 'top',
                            labels: {
                                fontColor: 'white',
                                fontSize: 16
                            }
                        },
                        title: {
                            display: true,
                            text: 'Productos vendidos',
                            fontColor: 'white',
                            fontSize: 22
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 12,
                                    callback: function (value, index, values) {
                                        return '$' + value;
                                    }
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 12,
                                    stepSize: 1,
                                    beginAtZero: true
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var label = data.datasets[tooltipItem.datasetIndex].label || '';
                                    if (label == "Venta total") {
                                        var venta = Math.round(tooltipItem.yLabel * 100) / 100;
                                        label += ": $" + venta;
                                        return label;
                                    } else {
                                        var cantidad = data.datasets[tooltipItem.datasetIndex].cantidad[tooltipItem.index];
                                        var multiline = [label];
                                        var venta = Math.round(tooltipItem.yLabel * 100) / 100;

                                        multiline.push("Piezas: " + cantidad);
                                        multiline.push("Total venta: $" + venta);

                                        return multiline;
                                    }
                                }
                            }
                        }
                    }
                });
            },
            error: function (result) {
                alert("Woops, se produjo un error");
            }
        });
    });

    function GuardarDatosPromotor() {
        var urlSave = '@Url.Action("GuardarDatosPromotor", "Promotores")';

        var _nombre = $("#txtNombre").val();
        var _Usuario = $("#txtUsuario").val();
        var _idUsuario = $("#txtIdUsuario").val();

        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ nombre: _nombre, usuario: _Usuario, idUsuario: _idUsuario }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert("Datos guardados exitosamente");
            },
            error: function (result) {
                alert("Woops, se produjo un error, intente mas tarde");
            }
        });
    }
</script>
