
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Alta de artículo</h4>
                <hr />
                <div class="panel-body pb-0">

                    <div class="form-horizontal group-border stripped">
                        <div class="form-group">
                            <label class="col-lg-1 col-md-1 control-label" for="">Categoria</label>
                            <div class="col-lg-10 col-md-9">
                                <select id="cboCategorias" class="form-control">
                                    @{
                                        foreach (SelectListItem categoria in ((List<SelectListItem>)ViewBag.CategoriasArticulo))
                                        {
                                            <option id="@categoria.Value" value="@categoria.Value">@categoria.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            <label class="col-lg-9 col-md-9 control-label" for="">Código</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtCodigo" class="form-control" placeholder="Código" readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Nombre</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtDescripcionCorta" class="form-control" placeholder="Nombre" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Descripción</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtDescripcionLarga" class="form-control" placeholder="Descripción" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Precio Unidad</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtPrecioUnidad" class="form-control" placeholder="Precio por unidad" onkeypress="return filterFloat(event,this);" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Precio Master</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtPrecioMaster" class="form-control" placeholder="Precio Master" onkeypress="return filterFloat(event,this);" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Precio Promotor</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtPrecioPromotor" class="form-control" placeholder="Precio Promotor" onkeypress="return filterFloat(event,this);" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Precio Gerente</label>
                            <div class="col-lg-10 col-md-9">
                                <input id="txtPrecioGerente" type="text" class="form-control" placeholder="Precio Gerente" onkeypress="return filterFloat(event,this);" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-light px-5 float-left" onclick="GuardarArticulo()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/ValidationForm.js")"></script>

<script type="text/javascript">
    $("#cboCategorias").change(function () {
        var _idCategoria = $("#cboCategorias").val();
        var urlSave = '@Url.Action("GetNewCode", "Articulo")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ idCategoria: _idCategoria }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#txtCodigo").val(data.Codigo);
            },
            error: function (result) {
                alert(result);
            }
        });
    });

    function GuardarArticulo()
    {
        var _precioUnidad = $("#txtPrecioUnidad").val();
        var _precioMaster = $("#txtPrecioMaster").val();
        var _precioPromotor = $("#txtPrecioPromotor").val();
        var _precioGerente = $("#txtPrecioGerente").val();

        if (ValidarAltaArticulo()) {
            debugger;
            var urlSave = '@Url.Action("GuardarArticulo","Articulo")';
            var _codigo = $("#txtCodigo").val();
            var _descripcionCorta = $("#txtDescripcionCorta").val();
            var _descripcionLarga = $("#txtDescripcionLarga").val();
            var _stockMinimo = 0;
            var _stockMaximo = 0;

            var _idCategoria = $("#cboCategorias").val();
            var esConsumible = true;
            var _isConsumible = false;
            if (esConsumible) {
                _isConsumible = true;
            }

            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ codigo: _codigo, descripocionCorta: _descripcionCorta, descripcionLarga: _descripcionLarga, stockMinimo: _stockMinimo, stockMaximo: _stockMaximo, idCategoria: _idCategoria, isConsumible: _isConsumible, precioUnidad: _precioUnidad, precioMaster: _precioMaster, precioPromotor: _precioPromotor, precioGerente: _precioGerente  }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Registro agregado exitosamente");
                    var link = "@Url.Action("Index","Home")";
                    window.location.href = link;
                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });
        }
    }
</script>