@model Model.DO_Articulo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editar</h4>
                <hr />
                <div class="panel-body pb-0">
                    <div class="form-horizontal group-border stripped">

                        <input type="hidden" value="@Model.idArticulo" id="txtIdArticulo" />
                        <input type="hidden" value="@Model.Codigo" id="txtCodigo" />
                        <input type="hidden" value="@Model.stockMin" id="txtStockMinimo" />
                        <input type="hidden" value="@Model.stockMax" id="txtStockMaximo" />
                        @{
                            if (Model.IsConsumible)
                            {
                                <input type="checkbox" hidden value="@Model.IsConsumible" id="ckbIsConsumible" checked/>
                            }
                            else
                            {
                                <input type="checkbox" hidden value="@Model.IsConsumible" id="ckbIsConsumible" />
                            }
                        }


                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Nombre</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtDescripcionCorta" class="form-control" placeholder="Nombre" value="@Model.Descripcion" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Descripción</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtDescripcionLarga" class="form-control" placeholder="Descripción" value="@Model.NumeroDeSerie" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Precio Unidad</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtPrecioUnidad" class="form-control" placeholder="Precio por unidad" onkeypress="return filterFloat(event,this);" value="@Model.PRECIO_UNIDAD" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Precio Master</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtPrecioMaster" class="form-control" placeholder="Precio Master" onkeypress="return filterFloat(event,this);" value="@Model.PRECIO_MASTER" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Precio Promotor</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" id="txtPrecioPromotor" class="form-control" placeholder="Precio Promotor" onkeypress="return filterFloat(event,this);" value="@Model.PRECIO_PROMOTOR" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-9 col-md-9 control-label" for="">Precio Gerente</label>
                            <div class="col-lg-10 col-md-9">
                                <input id="txtPrecioGerente" type="text" class="form-control" placeholder="Precio Gerente" onkeypress="return filterFloat(event,this);" value="@Model.PRECIO_GERENTE" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-light px-5 float-left" onclick="GuardarArticulo()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/ValidationForm.js")"></script>

<script type="text/javascript">
    function GuardarArticulo() {
        var urlSave = '@Url.Action("GuardarCambiosArticulo", "Articulo")';
        var _codigo = $("#txtCodigo").val();
        var _descripcionCorta = $("#txtDescripcionCorta").val();
        var _descripcionLarga = $("#txtDescripcionLarga").val();
        var _stockMinimo = $("#txtStockMinimo").val();
        var _stockMaximo = $("#txtStockMaximo").val();

        var esConsumible = $("#ckbIsConsumible").is(":checked");
        var _isConsumible = false;

        if (esConsumible) {
            _isConsumible = true;
        }

        var _precioUnidad = $("#txtPrecioUnidad").val();
        var _precioMaster = $("#txtPrecioMaster").val();
        var _precioGerente = $("#txtPrecioGerente").val();
        var _precioPromotor = $("#txtPrecioPromotor").val();
        var _idArticulo = $("#txtIdArticulo").val();

        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ codigo: _codigo, descripcionCorta: _descripcionCorta, descripcionLarga: _descripcionLarga, stockMinimo: _stockMinimo, stockMaximo: _stockMaximo, isConsumible: _isConsumible, precioUnidad: _precioUnidad, precioMaster: _precioMaster, precioGerente: _precioGerente, precioPromotor: _precioPromotor, idArticulo: _idArticulo }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert("Registro actualizado exitosamente");
                var link = "@Url.Action("Index","Articulo")";
                window.location.href = link;
            },
            error: function (result) {
                alert("Woops, se produjo un error");
            }
        });
    }
</script>