
@{
    ViewBag.Title = "DarEntrada";
}

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Entradas</h4>
                </div>
                <div class="panel-body pb-0">
                    <div class="bs-callout bs-callout-info mt0">
                        <p>Por favor ingrese la información requerida</p>
                    </div>

                    <div class="form-horizontal group-border stripped">

                        <div class="form-group">
                            <label>Almacen</label>
                            <select id="cboAlmacenes" class="form-control">
                                @{
                                    foreach (SelectListItem almacen in ((List<SelectListItem>)ViewBag.Almacenes))
                                    {
                                        <option id="@almacen.Value" value="@almacen.Value">@almacen.Text</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Proveedor</label>
                            <select id="cboProveedores" class="form-control">
                                @{
                                    foreach (SelectListItem proveedor in ((List<SelectListItem>)ViewBag.Proveedores))
                                    {
                                        <option id="@proveedor.Value" value="@proveedor.Value">@proveedor.Text</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" id="txtFactura" class="form-control" placeholder="Número de factura" />
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-primary" onclick="MostrarModal()">Agregar Articulo</button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <td>ID ARTICULO</td>
                                            <td>CODIGO</td>
                                            <td>DESCRIPCIÓN</td>
                                            <td>CANTIDAD</td>
                                            <td>UNIDAD</td>
                                            <td class="td_hide">idUnidad</td>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable"></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-inline">
            <button class="btn btn-success" onclick="GuardarEntrada()">Guardar</button>
            <button class="btn btn-danger" onclick="Regresar()">Cancelar</button>
        </div>
    </div>
</div>

<div id="modalguardandobitacora" data-backdrop="static" data-keyboard="false" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert alert-success">
                <table>
                    <tr>
                        <td></td>
                        <td><h3 class="modal-title">Agregar articulo</h3></td>
                    </tr>
                </table>
            </div>
            <div class="modal-body" id="div1">
                <div class="form-group">
                    <label>Articulo</label>
                    <select id="cboArticulos" class="js-example-basic-single" style="width:90%"></select>
                </div>

                <div class="form-group">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" id="txtCantidad" />
                </div>

                <div class="form-group">
                    <label>Unidad</label>
                    <select id="cboUnidad" class="js-example-basic-single" style="width:90%">
                        @{
                            foreach (SelectListItem unidad in ((List<SelectListItem>)ViewBag.Unidades))
                            {
                                <option id="@unidad.Value" value="@unidad.Value">@unidad.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary" onclick="agregarArticulo()">Agregar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/ValidationForm.js")"></script>

<script type="text/javascript">

    function Regresar() {
        var link = "@Url.Action("Index","Home")";
        window.location.href = link;
    }

    $(function () {
        $('.js-example-basic-single').select2();
        $("#td_1").hide();

        var urlSave = '@Url.Action("GetAllCategoriasArticulos", "EntradasAlmacen")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ parametro: "" }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var categoria = "<optgroup label='" + item.NombreCategoria + "' id='" + item.idCategoriaArticulo + "'></optgroup>";

                    $("#cboArticulos").append(categoria);

                    $.each(item.Articulos, function (i, item1) {
                        var a = item1.Descripcion;
                        var conca = item1.Codigo + "        " + item1.Descripcion
                        $("#cboArticulos").append("<option value='" + item1.idArticulo + "'>" + conca + "</option>");
                    });

                });
            },
            error: function (result) {
                alert("Error!");
            }
        });
    });

    function agregarArticulo() {

        var _idArticulo = $("#cboArticulos").val();
        var _cantidad = $("#txtCantidad").val();
        var _codigo = $("#cboArticulos option:selected").text();
        var _unidad = $("#cboUnidad").text();
        var _idUnidad = $("#cboUnidad").val();
        var res = _codigo.split("        ", 2);
        _codigo = res[0];
        var _descripcion = res[1];

        var row = "<tr>";
        row += "<td>" + _idArticulo + "</td>";
        row += "<td>" + _codigo + "</td>";
        row += "<td>" + _descripcion + "</td>";
        row += "<td>" + _cantidad + "</td>";
        row += "<td>" + _unidad + "</td>";
        row += "<td class='td_hide'>" + _idUnidad + "</td>";
        row += "</tr>";

        $("#myTable").append(row);

        $("#modalguardandobitacora").modal('hide');
    }

    function MostrarModal() {
        $("#modalguardandobitacora").modal();
    }

    function GuardarEntrada()
    {
        if (ValidarAltaEntrada()) {

            var _idAlmacen = $("#cboAlmacenes").val();
            var _idProveedor = $("#cboProveedores").val();
            var _noFactura = $("#txtFactura").val();
            var urlSave = '@Url.Action("GuardarEntrada", "EntradasAlmacen")';

            //gets table
            var oTable = document.getElementById("myTable");

            //gets rows of table
            var rowLength = oTable.rows.length;

            //We declare a Array.
            var _articulos = new Array();

            for (i = 0; i < rowLength; i++) {

                //gets cells of current row
                var oCells = oTable.rows.item(i).cells;

                //gets amount of cells of current row
                var cellLength = oCells.length;

                var _idArticulo = oCells.item(0).innerHTML;
                var _codigo = oCells.item(1).innerHTML;
                var _descripcion = oCells.item(2).innerHTML;
                var _cantidad = oCells.item(3).innerHTML;
                var _idUnidad = oCells.item(5).innerHTML;

                _articulos.push({ idArticulo: _idArticulo, codigo: _codigo, descripcion: _descripcion, cantidad: _cantidad, idUnidad: _idUnidad });
            }

            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ idAlmacen: _idAlmacen, idProveedor: _idProveedor, Factura: _noFactura, articulos: _articulos }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data >= 1) {
                        alert("Articulos agregados correctamente.");

                        var link = "@Url.Action("Index","Home")";
                        window.location.href = link;
                    }
                },
                error: function (result) {
                    alert("ERROR");
                }
            });

        }
    }
</script>