@model IEnumerable<Model.DO_Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Listado de artículos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Descripción
        </th>
        <th>
            Descripción larga
        </th>
        <th>
            Stock mínimo
        </th>
        <th>
            Stock máximo
        </th>
        <th>
            Categoría
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionLarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stockMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stockMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CATEGORIA)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idArticulo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idArticulo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idArticulo})
        </td>
    </tr>
}

</table>


