
@{
    ViewBag.Title = "DarEntrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modalColor{
        background-color: #495057;
    }

    .colorBlack{
        color: #212529;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Entradas</h4>
            </div>
            <div class="panel-body pb-0">
                <div class="bs-callout bs-callout-info mt0">
                    <p>Por favor ingrese la información requerida</p>
                </div>

                <div class="form-horizontal group-border stripped">

                    <div class="form-group">
                        <label for="">Fecha</label>
                        <div>
                            <div class="input-group date" id="datetimepicker1">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Mi Bodega</label>
                        <select id="cboAlmacenes" class="form-control">
                            @{
                                foreach (SelectListItem almacen in ((List<SelectListItem>)ViewBag.Almacenes))
                                {
                                    <option id="@almacen.Value" value="@almacen.Value">@almacen.Text</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Bodega origen</label>
                        <select id="cboProveedores" class="form-control">
                            @{
                                foreach (SelectListItem proveedor in ((List<SelectListItem>)ViewBag.Proveedores))
                                {
                                    <option id="@proveedor.Value" value="@proveedor.Value">@proveedor.Text</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>No. Guía</label>

                        <input type="text" id="txtGuia" class="form-control" placeholder="Numero de Guía"   />
                    </div>

                    <div class="form-group">
                        <label>Costo Guía</label>
                        
                        <input type="text" class="form-control" id="txtCostoGuia" value="0" onkeypress="return soloNumeros(event)" />
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-primary" onclick="MostrarModal()">Agregar Articulo</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <td hidden>ID ARTICULO</td>
                                        <td hidden>CODIGO</td>
                                        <td>DESCRIPCIÓN</td>
                                        <td>CANTIDAD</td>
                                        <td hidden>UNIDAD</td>
                                        <td hidden class="td_hide">idUnidad</td>
                                    </tr>
                                </thead>
                                <tbody id="myTable"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-inline">
        <button class="btn btn-success" onclick="GuardarEntrada()">Guardar</button>
        <button class="btn btn-danger" onclick="Regresar()">Cancelar</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bg-theme1" id="modalguardandobitacora" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="colorBlack">Articulo</label>
                    <select id="cboArticulos" class="form-control modalColor" style="width:90%">
                        @{
                            foreach (SelectListItem articulo in ((List<SelectListItem>)ViewBag.Articulos))
                            {
                                <option id="@articulo.Value" value="@articulo.Value">@articulo.Text</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="colorBlack">Cantidad</label>
                    <input type="number" class="form-control modalColor" style="width:90%" id="txtCantidad" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="agregarArticulo()">Agregar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal guardando Info-->
<div id="modalcargandoinfo" data-backdrop="static" data-keyboard="false" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert alert-dark">
                <table>
                    <tr>
                        <td></td>
                        <td><h3 class="modal-title">Por favor espere...</h3></td>
                    </tr>
                </table>
            </div>
            <div class="modal-body" id="div1">
                <p><b>Procesando</b></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" id="progressbarEspera" role="progressbar" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/ValidationForm.js")"></script>

<script type="text/javascript">

    $(document).ajaxStart(function () {
        $("#modalcargandoinfo").modal("show");
    });

    $(document).ajaxComplete(function () {
        $("#modalcargandoinfo").removeClass("in");
        $(".modal-backdrop").remove();
        $("#modalcargandoinfo").hide();
    });

    function Regresar() {
        var link = "@Url.Action("Index","Home")";
        window.location.href = link;
    }

    $(function () {
        $("#td_1").hide();
        $('#datetimepicker1').datetimepicker({
            format: 'L'
        });
    });

    function agregarArticulo() {

        var _idArticulo = $("#cboArticulos").val();
        var _cantidad = $("#txtCantidad").val();
        var _codigo = $("#cboArticulos option:selected").text();
        var _unidad = "PIEZA"
        var _idUnidad = 1;
        var res = _codigo.split("        ", 2);
        _codigo = res[0];
        var _descripcion = res[1];

        var row = "<tr>";
        row += "<td hidden>" + _idArticulo + "</td>";
        row += "<td hidden>" + _codigo + "</td>";
        row += "<td>" + _codigo + "</td>";
        row += "<td>" + _cantidad + "</td>";
        row += "<td hidden>" + _unidad + "</td>";
        row += "<td hidden class='td_hide'>" + _idUnidad + "</td>";
        row += "</tr>";

        $("#myTable").append(row);

        $("#modalguardandobitacora").modal('hide');
    }

    function MostrarModal() {
        $("#modalguardandobitacora").modal();
    }

    function GuardarEntrada()
    {
        var _idAlmacen = $("#cboAlmacenes").val();
        var _idProveedor = $("#cboProveedores").val();
        var _noFactura = $("#txtGuia").val();
        var _fecha = $("#datetimepicker1").data("date");
        var urlSave = '@Url.Action("GuardarEntrada", "EntradasAlmacen")';
        var _costoGuia = $("#txtCostoGuia").val();

        //gets table
        var oTable = document.getElementById("myTable");

        //gets rows of table
        var rowLength = oTable.rows.length;

        //We declare a Array.
        var _articulos = new Array();

        for (i = 0; i < rowLength; i++) {

            //gets cells of current row
            var oCells = oTable.rows.item(i).cells;

            //gets amount of cells of current row
            var cellLength = oCells.length;

            var _idArticulo = oCells.item(0).innerHTML;
            var _codigo = oCells.item(1).innerHTML;
            var _descripcion = oCells.item(2).innerHTML;
            var _cantidad = oCells.item(3).innerHTML;
            var _idUnidad = oCells.item(5).innerHTML;

            _articulos.push({ idArticulo: _idArticulo, codigo: _codigo, descripcion: _descripcion, cantidad: _cantidad, idUnidad: _idUnidad });
        }

        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ idAlmacen: _idAlmacen, idProveedor: _idProveedor, Factura: _noFactura, fecha: _fecha, costoGuia: _costoGuia, articulos: _articulos }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data >= 1) {
                    alert("Articulos agregados correctamente.");

                    var link = "@Url.Action("Index","Home")";
                    window.location.href = link;
                }
            },
            error: function (result) {
                alert("ERROR");
            }
        });
    }
</script>