@model Model.DO_Result_SalidaAlmacen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div id="valediv">
    <h4>Vale salida de almacén</h4>
    <hr />
    <dl class="dl-horizontal">

        

        <dt>
            @Html.DisplayNameFor(model => model.CodigoArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoArticulo)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionArticulo)
        </dd>

        <dt>
            Cantidad solicitada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadSolicitada)
        </dd>

        <dt>
            Condición del artículo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondicionesArticuloSalida)
        </dd>

        <dt>
            Fecha de solicitud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>


        <dt>
            Nombre del solicitante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSolicitante)
        </dd>

        <dt>
            Persona que atendió
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAtendio)
        </dd>

    </dl>
</div>


<div>
    <input type="button" class="btn btn-success" value="Generar Vale" onclick="generarVale()" />
</div>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script type="text/javascript">
    function generarVale() {
        var doc = new jsPDF();
        doc.fromHTML($("#valediv").get(0), 20, 20, {
            'width':500});

        doc.save("vale.pdf");
    }
</script>
