@model Model.DO_ValeSalidaAlmacen

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ValeSalida</title>
</head>
<body>
    <div>
        <h4>DO_ValeSalidaAlmacen</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Almacen)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Almacen)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonaSolicito)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonaSolicito)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaSolicito)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaSolicito)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonaAtendio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonaAtendio)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_MOVIMIENTO_SALIDA_ALMACEN }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
