@{
    ViewBag.Title = "Home Page";
}
@{
    if (Convert.ToBoolean(Session["IS_ORGANIZACION"]))
    {
        <div class="card mt-3">
            <div class="card-content">
                <div class="row row-group m-0">
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 id="lblVentaTotalOrg" class="text-white mb-0"></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div id="divVentaDiariaOrg" class="progress-bar" style="width:0%"></div>
                            </div>
                            <p class="mb-0 text-white small-font" id="lblPctVentaDiariaOrg">Ganancia Semanal</p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 id="lblCantidadVendidaOrg" class="text-white mb-0"></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div id="divVentaSemanalOrg" class="progress-bar" style="width:0%"></div>
                            </div>
                            <p class="mb-0 text-white small-font" id="lblPctVentaOrg"></p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 id="lblVentaTotalMensualOrg" class="text-white mb-0"></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div id="divVentaMensualOrg" class="progress-bar" style="width:0%"></div>
                            </div>
                            <p class="mb-0 text-white small-font" id="lblPctVentaMensualOrg"></p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 id="lblNoSemana" class="text-white mb-0"></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div id="divPctSemana" class="progress-bar" style="width:0%"></div>
                            </div>
                            <p class="mb-0 text-white small-font" id="lblSemanaActual"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card mt-3">
            <div class="card-content">
                <div class="row row-group m-0">
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 id="lblVentaTotal" class="text-white mb-0"></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div id="divVentaDiaria" class="progress-bar" style="width:0%"></div>
                            </div>
                            <p class="mb-0 text-white small-font" id="lblPctVentaDiaria"></p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 id="lblCantidadVendida" class="text-white mb-0"></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div id="divVentaSemanal" class="progress-bar" style="width:0%"></div>
                            </div>
                            <p class="mb-0 text-white small-font" id="lblPctVenta"></p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 id="lblVentaTotalMensual" class="text-white mb-0"></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div id="divVentaMensual" class="progress-bar" style="width:0%"></div>
                            </div>
                            <p class="mb-0 text-white small-font" id="lblPctVentaMensual"></p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 id="lblNoSemana" class="text-white mb-0"></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div id="divPctSemana" class="progress-bar" style="width:0%"></div>
                            </div>
                            <p class="mb-0 text-white small-font" id="lblSemanaActual"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    <!--Grafica venta semanal-->
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    Ventas
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>Venta semanal</li>

                    </ul>
                    <div class="chart-container-1">
                        <canvas id="chart1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Grafica Promotor-->
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    Ventas promotor
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>Venta promotor</li>

                    </ul>
                    <div class="chart-container-1">
                        <canvas id="chartPromotor"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Existencias-->
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header">
                    Existencias
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-borderless">
                            <thead>
                                <tr>
                                    <th>Artículo</th>
                                    <th>Cantidad</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody id="tblExistencia"></tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer" id="lblValorInventario">
                    Valor del inventario
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    Venta semanal
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-borderless">
                            <thead>
                                <tr>
                                    <th>Artículo</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody id="tblLastVentas"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Entradas y salidas-->
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-header">
                    Entradas semana actual
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-borderless">
                            <thead>
                                <tr>
                                    <th>ARTICULO</th>
                                    <th>CANTIDAD</th>
                                    <th>ORIGEN</th>
                                    <th>FECHA</th>
                                </tr>
                            </thead>
                            <tbody id="tblEntradas"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-header">
                    Salidas semana actual
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-borderless">
                            <thead>
                                <tr>
                                    <th>ARTICULO</th>
                                    <th>CANTIDAD</th>
                                    <th>DESTINO</th>
                                </tr>
                            </thead>
                            <tbody id="tblSalidas"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Depositos-->
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header" id="lblDepositos">
                    Depositos semana
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-borderless">
                            <thead>
                                <tr>
                                    <th>DESCRIPCION</th>
                                    <th>BANCO</th>
                                    <th>MONTO</th>
                                    <th>VER</th>
                                </tr>
                            </thead>
                            <tbody id="tblDepositos"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#tblDepositos tr").remove();
        var _idSemana;
        var _isOrganizacion = '@Session["IS_ORGANIZACION"]';

        //Cargamos la semana actual
        var urlSave = '@Url.Action("GetSemanaActual", "Home")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ parametro: "" }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#lblNoSemana").html("Semana #" + data.NoSemana + " <span class=\"float-right\"><i class=\"fa fa-calendar-check-o\"></i></span>");
                _idSemana = data.IdSemana;

                var lpct = ""
                lpct = data.PctDia + "%";

                $("#divPctSemana").css({ "width": lpct });

                $("#lblSemanaActual").html("<span class=\"float-left\">Inicia: " + data.SFechaInicial + "</span> <span class=\"float-right\">Finaliza: " + data.SFechaFinal + "</span> ");

                var urlSave1 = '@Url.Action("GetVentasPorWeek", "RecordsWeek")';
                $.ajax({
                    type: "POST",
                    url: urlSave1,
                    data: JSON.stringify({ idSemana: _idSemana }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var row = "";
                        $.each(data, function (index, item) {
                            var _precio = new Intl.NumberFormat("en-IN").format(item.Precio);
                            //var _total = new Intl.NumberFormat("en-IN").format(item.Total);

                            row += "<tr>";
                            row += "<td>" + item.Nombre + "</td>";
                            row += "<td>" + item.Cantidad + "</td>";
                            row += "<td>$" + _precio + "</td>";

                            row += "</tr>";
                        });
                        $("#tblLastVentas").append(row);
                    },
                    error: function (result) {
                        alert("Woops, se produjo un error");
                    }
                });

                var urlSave2 = '@Url.Action("GetDepositosPorWeek", "RecordsWeek")';
                $.ajax({
                    type: "POST",
                    url: urlSave2,
                    data: JSON.stringify({ idSemana: _idSemana }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var row = "";
                        var cantidad = 0;
                        $.each(data, function (index, item) {
                            cantidad += item.Importe;
                            var _number = new Intl.NumberFormat("en-IN").format(item.Importe);
                            row += "<tr>";
                            row += "<td>" + item.Descripcion + "</td>";
                            row += "<td>" + item.Banco + "</td>";
                            row += "<td>$" + _number + "</td>";
                            row += "<td><a href=\"" + item.UrlArchivo + "\">Ver</a></td>"
                            row += "</tr>";
                        });
                        $("#tblDepositos").append(row);
                        var number = new Intl.NumberFormat("en-IN").format(cantidad);
                        $("#lblDepositos").html("Despositos Total: $" + number);
                    },
                    error: function (result) {
                        alert("Woops, se produjo un error");
                    }
                });
            },
            error: function (result) {
                alert("Woops, se produjo un error");
            }
        });

        if (_isOrganizacion == 'True') {

            urlSave = '@Url.Action("GetGananciaGerente", "Ventas")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var number = new Intl.NumberFormat("en-IN").format(data);
                    $("#lblVentaTotalOrg").html(" $ " + number + " <span class=\"float-right\"><i class=\"fa fa-shopping-cart\"></i></span>");

                    //var lpct = "";
                    //var pct = 0;
                    //if (data == 0) {
                    //    number = "0,0";
                    //    lpct = "0%";
                    //} else {
                    //    pct = Math.round((data / 4285) * 100);
                    //    lpct = pct + "%";
                    //}


                    //$("#divVentaDiariaOrg").css({ "width": lpct });

                    //$("#lblPctVentaDiariaOrg").html("Venta Hoy<span class=\"float-right\">" + lpct + "</span>");
                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });

            urlSave = '@Url.Action("GetVentaSemanaActualOrganizacion", "Ventas")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var row = "";
                    var arrayNombres = [];
                    var arrayMontos = [];
                    var montoSemanalOrganizacion = 0;
                    $.each(data, function (index, item) {
                        montoSemanalOrganizacion += item.ValueDouble;
                        var number = new Intl.NumberFormat("en-IN").format(item.ValueDouble);
                        arrayNombres.push(item.Nombre);
                        arrayMontos.push(item.ValueDouble);
                        row += "<tr>";
                        row += "<td>" + item.Nombre + "</td>";
                        row += "<td>$" + number + "</td>";
                        row += "<tr/>";
                    });
                    $("#tblVentasGerente").append(row);
                    var numberVentaSemana = new Intl.NumberFormat("en-IN").format(montoSemanalOrganizacion);
                    $("#lblCantidadVendidaOrg").html(" $ " + numberVentaSemana + " <span class=\"float-right\"><i class=\"fa fa-shopping-cart\"></i></span>");

                    //$("#divVentaSemanalOrg").css({ "width": lpct });

                    $("#lblPctVentaOrg").html("Venta Semanal");

                    var ctx = document.getElementById("chart2").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: arrayNombres,
                            datasets: [{
                                backgroundColor: [
                                    "#ffffff",
                                    "rgba(255, 255, 255, 0.70)",
                                    "rgba(255, 255, 255, 0.50)",
                                    "rgba(255, 255, 255, 0.20)"
                                ],
                                data: arrayMontos,
                                borderWidth: [0, 0, 0, 0]
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                position: "bottom",
                                display: false,
                                labels: {
                                    fontColor: '#ddd',
                                    boxWidth: 15
                                }
                            }
                            ,
                            tooltips: {
                                displayColors: false
                            }
                        }
                    });
                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });

        } else {
            urlSave = '@Url.Action("GetGananciaGerente", "Ventas")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var number = new Intl.NumberFormat("en-IN").format(data);
                    $("#lblVentaTotal").html(" $ " + number + " <span class=\"float-right\"><i class=\"fa fa-usd\"></i></span>");
                    $("#lblPctVentaDiaria").html("Ganancia semanal<span class=\"float-right\"></span>");
                    //var lpct = "";
                    //var pct = 0;
                    //if (data == 0) {
                    //    number = "0,0";
                    //    lpct = "0%";
                    //} else {
                    //    pct = Math.round((data / 4285) * 100);
                    //    lpct = pct + "%";
                    //}


                    //$("#divVentaDiaria").css({ "width": lpct });


                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });
        }

        urlSave = '@Url.Action("GetVentaMesActual", "Ventas")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var number = new Intl.NumberFormat("en-IN").format(data);
                    var lpct = "";
                    var pct = 0;

                    if (data == 0) {
                        number = "0,0";
                        lpct = "0%";
                    } else {
                        pct = Math.round((data / 120000) * 100);
                        lpct = pct + "%";

                    }
                    $("#lblVentaTotalMensual").html(" $ " + number + " <span class=\"float-right\"><i class=\"fa fa-shopping-cart\"></i></span>");

                    $("#divVentaMensual").css({ "width": lpct });

                    $("#lblPctVentaMensual").html("Venta Mensual<span class=\"float-right\">" + lpct + "</span>");

                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });

            urlSave = '@Url.Action("GetVentaSemanaActual", "Ventas")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var number = new Intl.NumberFormat("en-IN").format(data);
                    var lpct = "";
                    var pct = 0;
                    if (data == 0) {
                        number = "0,0";
                        lpct = "0%";
                    } else {
                        pct = Math.round((data / 30000) * 100);
                        lpct = pct + "%";
                    }
                    $("#lblCantidadVendida").html(" $ " + number + " <span class=\"float-right\"><i class=\"fa fa-shopping-cart\"></i></span>");

                    $("#divVentaSemanal").css({ "width": lpct });

                    $("#lblPctVenta").html("Venta Semanal<span class=\"float-right\">" + lpct + "</span>");

                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });

            urlSave = '@Url.Action("GetVentaPromotor", "Home")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var ctx = document.getElementById('chartPromotor').getContext('2d');


                    var myChartPromotor = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: data,
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            legend: {
                                position: 'top',
                                labels: {
                                    fontColor: 'white',
                                    fontSize: 16
                                }
                            },
                            title: {
                                display: true,
                                text: 'Venta por promotor',
                                fontColor: 'white',
                                fontSize: 22
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        fontColor: "white",
                                        fontSize: 12,
                                        callback: function (value, index, values) {
                                            return value;
                                        }
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        fontColor: "white",
                                        fontSize: 12,
                                        stepSize: 500,
                                        beginAtZero: true
                                    }
                                }]
                            },

                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, data) {
                                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                                        var venta = Math.round(tooltipItem.xLabel * 100) / 100;
                                        label += ": $" + venta;
                                        return label;


                                    }
                                }
                            }
                        }
                    });
                },
                error: function (result) {

                }
            });

            urlSave = '@Url.Action("GetVentaSemanalDiaria", "Ventas")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    var ctx = document.getElementById('chart1').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: data,
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            legend: {
                                position: 'top',
                                labels: {
                                    fontColor: 'white',
                                    fontSize: 16
                                }
                            },
                            title: {
                                display: true,
                                text: 'Productos vendidos',
                                fontColor: 'white',
                                fontSize: 22
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        fontColor: "white",
                                        fontSize: 12,
                                        callback: function (value, index, values) {
                                            return '$' + value;
                                        }
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        fontColor: "white",
                                        fontSize: 12,
                                        stepSize: 1,
                                        beginAtZero: true
                                    }
                                }]
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, data) {
                                        var label = data.datasets[tooltipItem.datasetIndex].label || '';
                                        if (label == "Venta total") {
                                            var venta = Math.round(tooltipItem.yLabel * 100) / 100;
                                            label += ": $" + venta;
                                            return label;
                                        } else {
                                            var cantidad = data.datasets[tooltipItem.datasetIndex].cantidad[tooltipItem.index];
                                            var multiline = [label];
                                            var venta = Math.round(tooltipItem.yLabel * 100) / 100;

                                            multiline.push("Piezas: " + cantidad);
                                            multiline.push("Total venta: $" + venta);

                                            return multiline;
                                        }
                                    }
                                }
                            }
                        }
                    });
                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });

            urlSave = '@Url.Action("GetExistencias", "Existencias")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var row = "";
                    var valorTotalInventario = 0;
                    $.each(data, function (index, item) {
                        valorTotalInventario += item.ValorInventario;
                        var number = new Intl.NumberFormat("en-IN").format(item.ValorInventario);
                        number = "$" + number;
                        row += "<tr>";
                        row += "<td>" + item.Descripcion + "</td>";
                        row += "<td>" + item.Cantidad + "</td>";
                        row += "<td>" + number + "</td>";
                        row += "</tr>";
                    });
                    $("#tblExistencia").append(row);

                    var number1 = new Intl.NumberFormat("en-IN").format(valorTotalInventario);
                    number1 = "$" + number1;
                    $("#lblValorInventario").html("Valor total del inventario: " + number1);
                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });

            urlSave = '@Url.Action("GetEntradasCurretnWeek", "Home")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var row = "";
                    $.each(data, function (index, item) {
                        row += "<tr>";
                        row += "<td>" + item.Nombre + "</td>";
                        row += "<td>" + item.Cantidad + "</td>";
                        row += "<td>" + item.BodegaDestino + "</td>";
                        row += "<td>" + item.fecha + "</td>";
                        row += "</tr>";
                    });
                    $("#tblEntradas").append(row);
                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });

            urlSave = '@Url.Action("GetSalidasCurretnWeek", "Home")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ parametro: "" }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var row = "";
                    $.each(data, function (index, item) {
                        row += "<tr>";
                        row += "<td>" + item.Nombre + "</td>";
                        row += "<td>" + item.Cantidad + "</td>";
                        row += "<td>" + item.BodegaDestino + "</td>";
                        row += "</tr>";
                    });
                    $("#tblSalidas").append(row);
                },
                error: function (result) {
                    alert("Woops, se produjo un error");
                }
            });
    });
</script>
