
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Consultar semanas</h4>
                <hr />
                <div class="panel-body pb-0">

                    
                    <div class="form-group">
                        <label class="col-lg-1 col-md-1 control-label" for="">Semana</label>
                        <div class="col-lg-10 col-md-9">
                            <select id="cboSemana" class="form-control">
                                @{
                                    foreach (SelectListItem categoria in ((List<SelectListItem>)ViewBag.Semanas))
                                    {
                                        <option id="@categoria.Value" value="@categoria.Value">@categoria.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                        
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-header">
                Entradas semana
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-borderless">
                        <thead>
                            <tr>
                                <th>ARTICULO</th>
                                <th>CANTIDAD</th>
                                <th>ORIGEN</th>
                            </tr>
                        </thead>
                        <tbody id="tblEntradas"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-header">
                Salidas semana 
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-borderless">
                        <thead>
                            <tr>
                                <th>ARTICULO</th>
                                <th>CANTIDAD</th>
                                <th>DESTINO</th>
                            </tr>
                        </thead>
                        <tbody id="tblSalidas"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-header">
                Ventas semana 
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-borderless">
                        <thead>
                            <tr>
                                <th>ARTICULO</th>
                                <th>CANTIDAD</th>
                                <th>MONTO</th>
                            </tr>
                        </thead>
                        <tbody id="tblVentas"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

    });

    $("#cboSemana").change(function () {
        var _idSemana = $("#cboSemana").val();

        var urlSave = '@Url.Action("GetEntradasPorWeek", "RecordsWeek")';
        $("#tblEntradas tr").remove();
        $("#tblSalidas tr").remove();
        $("#tblVentas tr").remove();
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ idSemana: _idSemana }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var row = "";
                $.each(data, function (index, item) {
                    row += "<tr>";
                    row += "<td>" + item.Nombre + "</td>";
                    row += "<td>" + item.Cantidad + "</td>";
                    row += "<td>" + item.BodegaDestino + "</td>";
                    row += "</tr>";
                });
                $("#tblEntradas").append(row);
            },
            error: function (result) {
                alert("Woops, se produjo un error");
            }
        });

        urlSave = '@Url.Action("GetSalidasPorWeek", "RecordsWeek")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ idSemana: _idSemana }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var row = "";
                $.each(data, function (index, item) {
                    row += "<tr>";
                    row += "<td>" + item.Nombre + "</td>";
                    row += "<td>" + item.Cantidad + "</td>";
                    row += "<td>" + item.BodegaDestino + "</td>";
                    row += "</tr>";
                });
                $("#tblSalidas").append(row);
            },
            error: function (result) {
                alert("Woops, se produjo un error");
            }
        });

        urlSave = '@Url.Action("GetVentasPorWeek", "RecordsWeek")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ idSemana: _idSemana }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var row = "";
                $.each(data, function (index, item) {
                    row += "<tr>";
                    row += "<td>" + item.Nombre + "</td>";
                    row += "<td>" + item.Cantidad + "</td>";
                    row += "<td>$" + item.Precio + "</td>";
                    row += "</tr>";
                });
                $("#tblVentas").append(row);
            },
            error: function (result) {
                alert("Woops, se produjo un error");
            }
        });

    });
</script>

