<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Oficina virtual</title>

    <!-- Bootstrap core JavaScript-->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>

    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>

    <script src="@Url.Content("~/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>

    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css")" rel="stylesheet" />

    <!-- loader-->
    @*<link href="@Url.Content("~/assets/css/pace.min.css")" rel="stylesheet" />
        <script src="@Url.Content("~/assets/js/pace.min.js")"></script>*@
    <!--favicon-->
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.ico")" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="@Url.Content("~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css")" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="@Url.Content("~/assets/plugins/simplebar/css/simplebar.css")" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="@Url.Content("~/assets/css/animate.css")" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="@Url.Content("~/assets/css/sidebar-menu.css")" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="@Url.Content("~/assets/css/app-style.css")" rel="stylesheet" />
</head>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="index.html">
                    <img src="@Url.Content("~/assets/images/logo-icon.png")" class="logo-icon" alt="logo icon">
                    <h5 class="logo-text">Dashtreme Admin</h5>
                </a>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">Navegación</li>
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-dashboard"></i> <span>Inicio</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("AgregarVenta", "Ventas")">
                        <i class="fa fa-shopping-cart"></i> <span>Registro de venta</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("DarEntrada", "EntradasAlmacen")">
                        <i class="fa fa-sign-in"></i> <span>Entradas</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("DarSalida", "SalidasAlmacen")">
                        <i class="fa fa-sign-out"></i> <span>Salidas</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("AgregarDeposito", "Depositos")">
                        <i class="fa fa-dollar"></i> <span>Depósitos</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Create", "Articulo")">
                        <i class="fa fa-product-hunt"></i><span>Alta de artículos</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Create", "Contactos")">
                        <i class="fa fa-users"></i><span>Contactos</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("CerrarSession", "Home")">
                        <i class="fa fa-close"></i><span>Salir</span>
                    </a>
                </li>

            </ul>

        </div>
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="search-bar">
                            <input type="text" class="form-control" placeholder="Buscar...">
                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile"><img src="@Url.Content("~/assets/images/user2.jpg")" class="img-circle" alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="@Url.Content("~/assets/images/user2.jpg")" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">@Session["NombrePersona"]</h6>
                                            <p class="user-subtitle">@Session["CorreoPersona"]</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a href="@Url.Action("CerrarSession","Home")"><i class="icon-power mr-2"></i></a>  Cerrar Sesión</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                @RenderBody()

                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->

        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Copyright © 2020 rcode07
                </div>
            </div>
        </footer>
        <!--End footer-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>
            </div>
        </div>
        <!--end color switcher-->

    </div><!--End wrapper-->
    <!-- simplebar js -->
    <script src="@Url.Content("~/assets/plugins/simplebar/js/simplebar.js")"></script>
    <!-- sidebar-menu js -->
    <script src="@Url.Content("~/assets/js/sidebar-menu.js")"></script>
    <!-- loader scripts -->
    <script src="@Url.Content("~/assets/js/jquery.loading-indicator.js")"></script>
    <!-- Custom scripts -->
    <script src="@Url.Content("~/assets/js/app-script.js")"></script>
    <!-- Chart js -->
    <script src="@Url.Content("~/assets/plugins/Chart.js/Chart.min.js")"></script>
    <!-- Index js -->
    <script src="@Url.Content("~/assets/js/index.js")"></script>
</body>
</html>

@*USE [RGP2-PBA]
    GO

    /****** Object:  Table [dbo].[TBL_DETAILS_VENTA]    Script Date: 11/4/2020 4:46:30 PM ******/
    SET ANSI_NULLS ON
    GO

    SET QUOTED_IDENTIFIER ON
    GO

    CREATE TABLE [dbo].[TBL_DETAILS_VENTA](
        [ID_DETAIL_VENTA] [int] IDENTITY(1,1) NOT NULL,
        [ID_VENTA] [int] NULL,
        [ID_ARTICULO] [int] NULL,
        [CANTIDAD] [int] NULL,
        [PRECIO] [float] NULL,
     CONSTRAINT [PK_TBL_DETAILS_VENTA] PRIMARY KEY CLUSTERED
    (
        [ID_DETAIL_VENTA] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]
    GO

    ALTER TABLE [dbo].[TBL_DETAILS_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ARTICULO_TBL_DETAILS_VENTA] FOREIGN KEY([ID_ARTICULO])
    REFERENCES [dbo].[TBL_ARTICULO] ([ID_ARTICULO])
    GO

    ALTER TABLE [dbo].[TBL_DETAILS_VENTA] CHECK CONSTRAINT [FK_TBL_ARTICULO_TBL_DETAILS_VENTA]
    GO

    ALTER TABLE [dbo].[TBL_DETAILS_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_VENTA_TBL_DETAILS_VENTA] FOREIGN KEY([ID_VENTA])
    REFERENCES [dbo].[TBL_VENTA] ([ID_VENTA])
    GO

    ALTER TABLE [dbo].[TBL_DETAILS_VENTA] CHECK CONSTRAINT [FK_TBL_VENTA_TBL_DETAILS_VENTA]
    GO*@


@*USE [RGP2-PBA]
    GO

    /****** Object:  Table [dbo].[TBL_DETAILS_ARTICULO]    Script Date: 11/4/2020 4:46:53 PM ******/
    SET ANSI_NULLS ON
    GO

    SET QUOTED_IDENTIFIER ON
    GO

    CREATE TABLE [dbo].[TBL_DETAILS_ARTICULO](
        [ID_DETAILS_ARTICULO] [int] IDENTITY(1,1) NOT NULL,
        [ID_ARTICULO] [int] NOT NULL,
        [PRECIO_UNIDAD] [float] NOT NULL,
        [PRECIO_MASTER] [float] NOT NULL,
        [PRECIO_PROMOTOR] [float] NOT NULL,
        [PRECIO_GERENTE] [float] NOT NULL,
     CONSTRAINT [PK_TBL_DETAILS_ARTICULO] PRIMARY KEY CLUSTERED
    (
        [ID_DETAILS_ARTICULO] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]
    GO

    ALTER TABLE [dbo].[TBL_DETAILS_ARTICULO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ARTICULO_TBL_DETAILS_ARTICULO] FOREIGN KEY([ID_ARTICULO])
    REFERENCES [dbo].[TBL_ARTICULO] ([ID_ARTICULO])
    GO

    ALTER TABLE [dbo].[TBL_DETAILS_ARTICULO] CHECK CONSTRAINT [FK_TBL_ARTICULO_TBL_DETAILS_ARTICULO]
    GO*@



@*-- ================================================
    -- Template generated from Template Explorer using:
    -- Create Procedure (New Menu).SQL
    --
    -- Use the Specify Values for Template Parameters
    -- command (Ctrl-Shift-M) to fill in the parameter
    -- values below.
    --
    -- This block of comments will not be included in
    -- the definition of the procedure.
    -- ================================================
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
    -- =============================================
    -- Author:		RAÚL BAÑUELOS
    -- Create date: 04 NOV 2020
    -- Description:	PROCEDIMIENTO ALMACENADO QUE OBTIENE LOS MOVIMIENTOS DE SALIDA DE LA SEMANA ACTUAL
    -- =============================================
    CREATE PROCEDURE SP_ERP_GET_SALIDAS_ALMACEN_CURRENT_WEEK
    @idCompania INT
    AS
    BEGIN
        --DECLARE @idCompania AS INT
        --SET @idCompania = 10

        DECLARE @diaFinal AS DATETIME = (SELECT DIA_FINAL FROM TBL_SEMANA WHERE GETDATE() BETWEEN DIA_INICIAL AND DIA_FINAL)
        DECLARE @diaInicial AS DATETIME = (SELECT DIA_INICIAL FROM TBL_SEMANA WHERE GETDATE() BETWEEN DIA_INICIAL AND DIA_FINAL)

        SELECT A.ID_ARTICULO, A.DESCRIPCION, SUM(N.CANTIDAD) AS CANTIDAD, 'BODEGA ' + U.NOMBRE AS 'DESTINO'
        FROM TBL_MOVIMIENTO_SALIDA_ALMACEN AS M
        INNER JOIN TBL_DETALLE_MOVIMIENTO_SALIDA_ALMACEN AS N ON M.ID_MOVIMIENTO_SALIDA_ALMACEN = N.ID_MOVIMIENTO_SALIDA_ALMACEN
        INNER JOIN TBL_ARTICULO AS A ON N.ID_ARTICULO = A.ID_ARTICULO
        INNER JOIN TBL_USUARIO AS U ON M.USUARIO_SOLICITO = U.USUARIO
        WHERE M.FECHA_SALIDA BETWEEN @diaInicial AND @diaFinal AND A.ID_COMPANIA = @idCompania
        GROUP BY A.ID_ARTICULO, A.DESCRIPCION, U.NOMBRE
        END
        GO*@


@*-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters
-- command (Ctrl-Shift-M) to fill in the parameter
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		RAÚL BAÑUELOS
-- Create date: 04 NOV 2020
-- Description:	PROCEDIMIENTO ALMACENADO QUE OBTIENE LOS MOVIMIENTOS DE ENTRADA DE LA SEMANA ACTUAL
-- =============================================
CREATE PROCEDURE SP_ERP_GET_ENTRADAS_ALMACEN_CURRENT_WEEK
@idCompania INT
AS
BEGIN
	--DECLARE @idCompania AS INT
    --SET @idCompania = 10

    DECLARE @diaFinal AS DATETIME = (SELECT DIA_FINAL FROM TBL_SEMANA WHERE GETDATE() BETWEEN DIA_INICIAL AND DIA_FINAL)
    DECLARE @diaInicial AS DATETIME = (SELECT DIA_INICIAL FROM TBL_SEMANA WHERE GETDATE() BETWEEN DIA_INICIAL AND DIA_FINAL)

    SELECT A.ID_ARTICULO,A.DESCRIPCION,SUM(D.CANTIDAD) AS CANTIDAD, P.NOMBRE AS 'DESTINO'
    FROM TBL_MOVIMIENTO_ALMACEN AS M
    INNER JOIN TBL_DETALLE_MOVIMIENTO_ENTRADA_ALMACEN AS D ON M.ID_MOVIMIENTO_ALMACEN = D.ID_MOVIMIENTO_ENTRADA_ALMACEN
    INNER JOIN TBL_ARTICULO AS A ON D.ID_ARTICULO = A.ID_ARTICULO
    INNER JOIN TBL_COMPANIA AS C ON A.ID_COMPANIA = C.ID_COMPANIA
    INNER JOIN TBL_PROVEEDOR AS P ON M.ID_PROVEEDOR = P.ID_PROVEEDOR
    WHERE M.FECHA BETWEEN @diaInicial AND @diaFinal AND C.ID_COMPANIA = @idCompania
    GROUP BY A.ID_ARTICULO, A.DESCRIPCION, P.NOMBRE
    END
    GO*@
