@model IEnumerable<Model.DO_Existencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Existencias</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoArticulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoArticulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        
    </tr>
}

</table>
